body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2d5a27;
    background-image:linear-gradient(rgba(43, 76, 36, 0.8), rgba(43, 76, 36, 0.8)), 
                      url("../images/login-register.jpg");
    background-size: 100% 110%;
    background-position: center calc(50% - 30px), center calc(50% - 30px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Raleway';
    font-weight: '300';
    color: #3d405b;
}





/* styling for header */

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px;
    background-color: white;
    color: #2d5a27;
    min-height: 65px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 50px; 
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 80%; 
    height: 40px;
    width: auto;      
    display: block;
    padding-top: 5px;
}

.logo:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}





/* styling for login/register */

.details-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    min-height: 375px;
    width: 450px;
    padding-bottom: 40px;
    border: none;
    border-radius: 24px;
    background-color: #fefbf8;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

h3 {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-size: 25px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.login-form, .register-form {
    margin-bottom: 30px;
}

input, select {
    margin: 5px 0;
    height: 25px;
    border-radius: 8px;
    border-style: solid;
    border-color: #cecbc7;
    border-width: 1px;
    padding-left: 10px;
    font-family: 'Raleway';
}

input {
    width: 230px;
}

select {
    width: 242px;
}

select:invalid {
    color: #757575; 
}

select option[value=""][disabled] {
    display: none;
}

i {
    color: #2d5a27;
}

.submit-btn {
    padding: 5px 10px;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    border: none;
    background-color: #3d405b; 
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.ask {
    font-size: 12px;
}

button {
    padding: 5px 10px;
    width: 100px;
    border-radius: 25px;
    border: none;
    background-color: #9b9c98; 
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: light;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #7c7d7a;
    transition: all 0.3s ease-in-out;
}
 




/* messages */ 

.error {
    color: #cb4c4e;
}

.success {
    color: #789f72;
}
