body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: clip;
    font-family: 'Raleway';
    font-weight: 400;
}





/* styling for header + navigation dropdown */

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px;
    background-color: white;
    color: #2d5a27;
    min-height: 60px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 50px; 
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 80%; 
    height: 40px;
    width: auto;      
    display: block;
    padding-top: 5px;
}

.logo:hover, .dropdown:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.dropdown {
    font-size: 30px;
    line-height: 50px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    color: #2d5a27;
    display: block;
    z-index: 130;
}

#toggle {
    display: none;
}

.menu {
    position: relative; 
    width: 100%;
    background-color: #2d5a27;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 120;
}

#toggle:checked ~ .menu {
    height: 218px;
}

#toggle:checked + .dropdown {
    color: #ccc;
}

.link {
    padding: 15px 0;
    text-decoration: none;
    color: white;
    font: 20px 'Montserrat', sans-serif;
    font-weight: normal;
    transition: 0.3s;
}

.link:hover {
    background-color: #789f72;
    color: white;
}





/* styling for official attraction pictures */

.atr-spotlight-pictures {
    display: flex;
    width: 100vw;
    height: 350px;
    overflow: hidden;
}

.atr-spotlight-pictures img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;    
}

.main-pic {
    flex: 1.5; 
    height: 100%;
    position: relative;
    overflow: hidden;
}

.secondary-pics {
    flex: 1; 
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pic-2, .pic-3 {
    flex: 1; 
    height: 50%;
}

.open-modal {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    z-index: 10;   
}

.open-modal i {
    font-size: 24px;
}

.open-modal:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}





/* styling for titlebar */

.atr-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.nameplate {
    display: flex;
    flex-direction: column;
}

.nameplate h1, .nameplate p {
    margin-bottom: 0px;
    font-family: 'Montserrat';
    color: #1d1e2b;
}

.nameplate h1 {
    font-weight: 700;
    font-size: 40px;
}

.nameplate p {
    font-size: 20px;
    margin-top: 3px;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 5px;
}

.mark-visited {
    border: none;
    background-color: white;
    color: #63645f;
    cursor: pointer;  
}

.mark-visited i {
    font-size: 42px;
}

.leave-rating {
    padding: 10px 20px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: #3d405b;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.leave-rating:hover, .mark-visited:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}





/* styling for scorecard */

.atr-scorecard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    height: 150px;
    border: none;
    border-radius: 24px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.local-rating, .gem-score, .tourist-visits {
    text-align: center;
    color: #2d5a27;
}

.local-rating h1, .gem-score h1, .tourist-visits h1{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0px;
}

.local-rating h4, .gem-score h4, .tourist-visits h4{
    font-family: 'Montserrat';
    font-size: 20px;
    margin-top: 3px;
}

.local-rating h4, .tourist-visits h4 {
    font-weight: 400;
}





/* styling for information */

.atr-information {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    color: #3d405b;
}




/* styling for visitor gallery */

.atr-visitor-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    color: #3d405b;
}

.atr-visitor-gallery h3 {
    align-self: flex-start;
}

.visitor-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    max-width: 100vw;
    margin: 0 auto;
    margin-bottom: 25px;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: 200px;       
    object-fit: cover;  
}

.gallery-item:hover img {
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}

.upload-image {
    padding: 10px 20px;
    height: 40px;
    width:360px;
    border-radius: 25px;
    border: none;
    background-color: #63645f;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.upload-image:hover {
    background-color: #3d405b;
    transition: all 0.2s ease-in-out;
}





/* styling for modal pop-ups */

.modal {
    display: flex;        
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    transform: translateY(-20px);
    transition: transform 0.4s ease;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-header {
    margin-bottom: 15px;
}

.title-block h2, .title-block p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.official-gallery {
    padding: 20px;
    border-radius: 24px;
    width: 90%;          
    max-width: 700px; 
    height: 70vh;       
}

.counter {
    color: #aaaaaa;
}

.close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.close-btn:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.ofc-image {
    display: none;     
    width: 100%;
    height: 100%;
}

.ofc-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;     
    width: 100%;
    height: 100%;
    background-color: #000; 
    border-radius: 12px;
    overflow: hidden;
}

.slides-wrapper {
    width: 100%;
    height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    transform: translateY(-50%);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 0.8s; 
}

@keyframes fade {
    from { opacity: 0.4; } 
    to { opacity: 1; }
}

.rating-content {
    padding: 20px;
    border-radius: 24px;
    width: 50%;          
    max-width: 400px; 
    height: auto;
    min-height: 35vh;      
}

.rating-header {
    margin-bottom: 0px;
}

.modal-h2 {
    margin-bottom: 5px;
}

.modal p {
    color: #3d405b;
}

.modal-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    justify-content: space-between;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.star-rating input {
    display: none; 
}

.star-rating label {
    font-size: 2.5rem;
    color: #ccc; 
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffca08; 
}

.star-rating input:checked ~ label {
    color: #ffca08;
}

.upload-group {
    margin-top: 25px;
}

.upload-group input {
    font-weight: oblique;
    cursor: pointer;
}

.modal-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.cancel-btn, .submit-btn {
    height: 30px;
    width: 150px;
    border-radius: 24px;
    border: none;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.cancel-btn {
    background-color: #cb4c4e;
}

.cancel-btn:hover {
    background-color: #ce7576;
    transition: all 0.3s ease-in-out;
}

.submit-btn {
    background-color: #2d5a27;
}

.submit-btn:hover {
    background-color: #789f72;
    transition: all 0.3s ease-in-out;
}
